body{
    background-image: url('https://wallpapers.com/images/hd/website-background-a6wbhti5rhqieecp.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
button{
    text-align: center;
}